
@{
	ViewBag.Title = "TutBy";
}
<div style="padding:0 50% 0 45%;">
	@Html.ActionLink("Pikabu", "RssPublications")
</div>
@if (ViewBag.news != null)
{

	foreach (var element in ViewBag.news)
	{
		<div class="card" style="width:50rem;padding-bottom:5%;margin:auto;">

			<h5 class="card-title">
				@element.groupName
			</h5>
			<p class="card-text">
				@element.postText
			</p>
			@if (element.attachedPhoto.Count != 0)
			{
				foreach (var photo in element.attachedPhoto)
				{
					<img class="card-img-top" src="@photo" />
				}
			}
		</div>
	}
}