
@{
    ViewBag.Title = "SubscribeToVkGroup";
}

<h2>SubscribeToVkGroup</h2>
<form method="post" action="SetGroups" style="padding:0 50% 0 45%;">
	@foreach (var element in ViewBag.groups)
	{
		<input type="checkbox" name="@element.Key" value="@element.Key" />@element.Value
		<br>
	}
	<input type="submit" name="Submit" />
</form>
