
@{
				/**/

				ViewBag.Title = "VK";
}
<h2 style="padding:0 50% 0 45%;">VK</h2>
@Html.ActionLink("SubscriveToGroup", "SubscribeToVkGroup")	
@if (ViewBag.news != null)
{

	foreach (var element in ViewBag.news)
	{
		<div class="card" style="width:30rem;padding-bottom:5%;margin:auto;">

			<h5 class="card-title">
				@element.groupName
			</h5>
			<p class="card-text">
				@element.postText
			</p>
			@if (element.attachedPhoto.Count != 0)
			{
			foreach (var photo in element.attachedPhoto)
			{
			<img class="card-img-top" src="@photo" />
			}
			}
		</div>
	}
}

