
@{
    ViewBag.Title = "VK";
}

<h2>VK</h2>
@Html.ActionLink("SubscriveToGroup", "SubscribeToVkGroup");
@if(ViewBag.news != null)
{
	foreach (var element in ViewBag.news)
	{
		@element.groupName
		<br />
		@element.postText
	    <br />
	}
}

