<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/bootstrap.css">
	<style>
		a {
			border: 1px solid #333;
			display: inline-block;
			padding: 5px 15px;
			text-decoration: none; 
			color: #000;
		}

			a:hover {
				box-shadow: 0 0 5px rgba(0,0,0,0.3);
				background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
				color: #a00;
			}
	</style>
</head>

<body style="background-color:#EEEEEE;">
	<nav style="text-align:right;padding-bottom:10px;padding-top:10px;padding-right:5%;background-color:#CCCCCC;">
			@Html.ActionLink("Sign in", "Signin", "Home")
			@Html.ActionLink("Sign up", "Signup", "Home")
	</nav>
	<div style="padding-left:45%;padding-right:50%;">
		@RenderBody()
	</div>
</body>
</html>
