@{
	ViewBag.Title = "Sign in";
}
<form method="get" action="Home/Login">
	<table>
		<tr>
			<td></td>
			<label>Login:</label>
			<input type="text" name="login" />
		</tr>
		<tr>
			<label>Password:</label>
			<input type="password" name="password" />
		</tr>
		<tr>
			<input type="submit" value="Sign in" />
		</tr>
	</table>
</form>