@{
	ViewBag.Title = "Sign in";
}
<form method="get" action="Home/Login">
	<table>
		<tr>
			<td>
				<label>Login:</label>
				<input type="text" name="login" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Password:</label>
				<input type="password" name="password" />
			</td>
		</tr>
		<tr>
			<td>
				<br />
				<input type="submit" value="Sign in" />
			</td>
		</tr>
	</table>
</form>