@{
	ViewBag.Title = "Sign in";
}
<form method="get" action="Home/Login" style="padding:0 50% 0 45%;">
				<label>Login:</label>
				<input type="text" name="login" />
	<br/>
				<label>Password:</label>
				<input type="password" name="password" />
	<br/>
	<br/>
				<input type="submit" class="btn" value="Sign in" />
</form>