
@{
	ViewBag.Title = "Sign up";
}

<form method="post" action="Registration">
	<table>
		<tr>
			<td>
				<label>Login:</label>
				<input type="text" name="login" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Password:</label>
				<input type="password" name="password" />
			</td>
		</tr>
		<tr>
			<td>
				<label>re-Password:</label>
				<input type="password" name="repassword" />
			</td>
		</tr>
		<tr>
			<td>
				<br />
				<input type="submit" value="Register" />
			</td>
		</tr>
	</table>
</form>

